<nav style="background-color:black">
    <div class="nav-wrapper">
      <a class="brand-logo" href="#"><img width="50" height="50" src="/images/lfc.jpg" style="border-radius:50%;margin-top:5px"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/practise/">Practise</a></li>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/contests/">Contests</a></li>
        <li><a href="/friends/">Friends</a></li>
        <li><a href="/notes/">My Notes</a></li>
        <li><a href="/profile/"><%= user %></a></li>
        <li><a href="/auth/logout">Logout<i class="material-icons left">exit_to_app</i></a></li>
      </ul>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/practise/">Practise</a></li>
    <li><a href="/articles/">Articles</a></li>
    <li><a href="/contests/">Contests</a></li>
    <li><a href="/friends/">Friends</a></li>
    <li><a href="/notes/">My Notes</a></li>
    <li><a href="/profile/"><%= user %></a></li>
    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
