<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Articles | LearnFromChef</title>
		<link rel="stylesheet" href="/styles/articles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	</head>
	<body>

    <% include ../partials/header %>

		<div class="mainBody">
			<div id="exTab3" class="container-fluid">
		    	<ul class="nav nav-pills row">
					<li class="active col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" id="featuredArticlesbtn">
						<a href="#featuredArticles" data-toggle="tab"><center>Featured Articles</center></a>
					</li>
					<li class="col-lg-4 col-sm-4 col-xs-4 yourArticles" id="yourArticlesbtn">
						<a href="#yourArticles" data-toggle="tab"><center>Your Articles</center></a>
					</li>
					<li class="col-lg-3 col-sm-3 col-xs-3" id="savedArticlesbtn">
						<a href="#savedArticles" data-toggle="tab"><center>Saved Articles</center></a>
					</li>
				</ul>

      <hr style="border: 1px solid">

			<div class="searchbar">
				  <input type="text" id="searchbar-input" placeholder="ex:- trees graphs authorname">
				  <i class="fa fa-search" id="searchbar-icon" aria-hidden="true"></i>
				  <i class="fa fa-times" id="searchbar-cross" aria-hidden="true"></i>
				</div>
		  </div>
			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="featuredArticles">
			  </div>



			  <div class="tab-pane" id="yourArticles">
			  </div>



			  <div class="tab-pane" id="savedArticles">
			  </div>
	  		</div>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script id="dsq-count-scr" src="//learnfromchef.disqus.com/count.js" async></script>
	<script type="text/javascript" src="/scripts/articles.js"></script>
</body>
</html>
