<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Articles | LearnFromChef</title>
  <link rel="stylesheet" href="/styles/writeArticles.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="/styles/jquery.tagsinput.css" />
</head>

<body>
  <% include ../partials/header %>

  <div class="mainBody">
    <h1 class="bodyHeading"><center>Write an Article</center></h1>
    <textarea id="text"></textarea>
    <br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
          <input name="tags" id="tags"/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <select class="pull-right form-control">
            <option value="onlyMe">Visible To Only Me</option>
            <option value="friends">Visible To Only My Friends</option>
            <option value="public">Visible To Everyone</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-6">
          <button class="btn btn-success btn-md pull-right">Post Article</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery.tagsinput.js"></script>
	<script type="text/javascript" src="/scripts/writeArticles.js"></script>
</body>

</html>
